@using Microsoft.AspNetCore.Http
@using Rhetos.Utilities

@inject IHttpContextAccessor contextAccessor
@inject IUserInfo userInfo

@{
	string SafeReportUserInfo()
	{
		try
		{
			return userInfo?.Report();
		}
		catch (Exception e)
		{
			return e.GetType().FullName;
		}
	}
}

<table>
	<thead></thead>
	<tbody>
	<tr>
		<td>Local server time:</td>
		<td>@DateTime.Now</td>
	</tr>
	<tr>
		<td>Process start time:</td>
		<td>@System.Diagnostics.Process.GetCurrentProcess().StartTime</td>
	</tr>
	<tr>
		<td>Is 64-bit process:</td>
		<td>@Environment.Is64BitProcess</td>
	</tr>
	<tr>
		<td>User authentication type:</td>
		<td>@contextAccessor.HttpContext?.User?.Identity?.AuthenticationType</td>
	</tr>
	<tr>
		<td>User identity:</td>
		<td>@contextAccessor.HttpContext?.User?.Identity?.Name</td>
	</tr>
	<tr>
		<td>User info:</td>
		<td>@SafeReportUserInfo()</td>
	</tr>
	</tbody>
</table>